/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: black; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: yellow; 
    border-radius: 10px; 
}
